header {
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    margin: auto;
}

header .nav-link a {
    color: #eee;
    margin-right: 40px;
    font-weight: 300;
}