.container-header {
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    margin: auto;
}

.container-header .nav-link a {
    color: #eee;
    margin-right: 40px;
    font-weight: 300;
}


.container {
    width: 80%;
    margin: auto;
    position: relative;
}

@media (max-width: 768px) {
    .container-header {
        width: 100%;
        justify-content: center;
    }

    .container-header .nav-link a {
        margin-right: 20px;
    }

    .container {
        width: 100%;
    }
}